{% extends "html/base.html" %}

{% block content %}
    <div class="container mx-auto my-5 text-center col-6">
        <h4 class="text-center">User list</h4>
        <div id="response" class="text-left bg-light pt-5">
            <div class="container">
                {% for user in data %}
                    <p>User {{ user.id }}:</p>
                    <p>username: {{ user.username }}</p>
                    <p>email: {{ user.email }}</p>
                    <p>photo: {{ user.photo }}</p>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}